<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.4.1/css/bootstrap.css">
    <style>
        .account {
            width: 800px;
            height: 500px;
            border: 2px solid #dddddd;
            border-radius: 5px;
            box-shadow: 5px 5px 20px #aaa;

            margin-left: auto;
            margin-right: auto;
            margin-top: 150px;
            padding: 20px 40px;
            background: #F8F8F8;
        }

        .account h2 {
            margin-top: 10px;
            text-align: center;
        }
    </style>
</head>
<link rel="stylesheet" type="text/css" href="/static/css/index.css"/>
<body>
<div class="account">
    <h3 style="font-size:3.5rem;color:#000000;" id="Teaching and Research Registration System">Teaching & Research Registration System</h2>
    <h3 style="font-size:2.5rem;" id="technology-stack">Technology stack</h3>
    <ul style="font-size:2rem;color:#000000;">
        <li>flask web framework</li>
        <li>Bootstrap CSS renderer</li>
        <li>jquery.js + bootstrap.js</li>
        <li>pymysql</li>
        <li>HTML language</li>
    </ul>
    <p>2023/6/18 许元元</p>
</div>
</body>
</html>