<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>system_welcome_page</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.4.1/css/bootstrap.css">
    <style>
        .account {
            width: 800px;
            height: 300px;
            border: 2px solid #dddddd;
            border-radius: 5px;
            box-shadow: 5px 5px 20px #aaa;

            margin-left: auto;
            margin-right: auto;
            margin-top: 150px;
            padding: 20px 40px;
            background: #F8F8F8;
        }

        .account h2 {
            margin-top: 10px;
            text-align: center;
        }
    </style>
</head>

<link rel="stylesheet" type="text/css" href="/static/css/index.css"/>

<body>

<div class="account">

    <h1 style="height:60px"> <b> Hi, there! </b> </h1>
    <p style="font-size:2.5rem;height:60px"> Welcome to xyy's <b>Teaching & Research Registration System.</b> </p>
    <p>
        <a href="/login" style="font-size:3rem;color:#000000;"> Please&emsp;  </a>
        <a class="btn btn-primary btn-lg" href="/login" role="button">login</a>
        <a href="/register" style="font-size:3rem;color:#000000;"> &emsp;or&emsp; </a>
        <a class="btn btn-success btn-lg" href="/register" role="button">Register</a>
    </p>

</div>

<script src="/static/js/jquery-3.6.0.min.js"></script>
<script src="/static/plugins/bootstrap-3.4.1/js/bootstrap.js"></script>
</body>
</html>